@import "libs/bootstrap-reboot.min";
@import "libs/font";
@import "libs/animate";
@import "libs//tiny-slider";
@import "base/variables";
@import "base/animations";

:root {
  --color-text: rgba(255, 255, 255, 1);
  --back-color: rgba(137, 172, 118, 1);
}

* {
  font-family: "Museo Sans Cyrls", sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/reviews";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";
@import "blocks/media";
