.carousel {
  padding: 81px 0;
  &__title {
    display: none;
  }
  &__slider {
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
  }
  &__inner {
    display: flex;
    transition: all 1s;
      img {
        width: 600px;
        height: auto;
        display: block;
        object-fit: contain;
      }
  }
  &__divider {
    display: none;
  }
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    border: none;
    background-color: #ffffff;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .next {
    right: 0px;
    left: auto;
  }
}
